/********************************* Tag Selector *******************************/
body{
    background-color: peru;
}
h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}
p{
    color: blanchedalmond;
    font-style: inherit;
    font-size: 30px;
}

img:hover{
    background-color: gold;
}

/********************************* Class Selector *******************************/
.broccoli{
    background-color: red;
}
.Bacon{
    background-color: green;
}
.circular{
    border-radius: 100%;
}

/********************************* ID Selector *******************************/
#heading{
    color: blue;
}